/* Header */
.container {
	padding: 40px;
	text-align: center;
}

h1 {
	font-size: 60px;
	font-weight: normal;
}

h3 {
	font-size: 20px;
	font-weight: normal;
	opacity: 0.6;
}

.download img {
	display: block;
	margin: 0 auto;
	width: 180px;
}

/* Help */

ul.help {
	list-style: none;
	width: 600px;
	margin: 40px auto;
	padding: 10px;
	background: rgba(0, 0, 0, .2);
}

ul.help li {
	transition: background-color 0.25s ease;
	cursor: pointer;
	line-height: 40px;
	font-size: 24px;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
}

ul.help li.over {
	background-color: rgba(0, 0, 0, .1);
}

ul.help li:last-child {
	border-bottom: none;
}

ul.help li span {
	display: block;
	padding: 10px;
}

ul.help li div.answer {
	background: rgba(0, 0, 0, .1);
	display: none;
	padding: 10px;
	color: rgba(255, 255, 255, .8);
	line-height: 30px;
	font-size: 18px;
}

ul.help li.expanded div.answer {
	display: block;
}

.other {
	padding: 20px;
	text-align: center;
}

@media only screen and (max-width: 550px) {
	ul.help {
		padding: 0;
		width: 100%;
		margin: 40px 0;
	}
}
